<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Homepage </title>

</head>

<body bgcolor="lightgrey"> 




<h1 style="background-color: aqua; text-align-last: center;">  WELCOME , KIDNLY LOGIN OR SIGN UP </h1>

<form action="loginpage">
    {% csrf_token %}
    
    <h1> <li> <button type="submit" > GO TO LOGIN  </button> </li> </h1> 

</form>

<form action="signup">

    <h1> <li>  <button type="submit" > SIGNUP HERE </button> </li> </h1> 

</form>


</body>
</html>

